In [1]:
import pandas as pd
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None
%matplotlib inline

In [2]:
bitcoins = pd.read_csv("total-bitcoins.csv", header=None, names=['Data', 'Bitcoin'])

In [3]:
bitcoins.head()

                  Data     Bitcoin
0  2016-08-28 00:00:00  15841112.5
1  2016-08-29 00:00:00  15842975.0
2  2016-08-30 00:00:00  15845025.0
3  2016-08-31 00:00:00  15846700.0
4  2016-09-01 00:00:00  15848450.0

In [ ]:
bitcoins.info()